﻿﻿@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<br />
<div class="container-fluid d-flex justify-content-center align-items-center vh-50">
    <div class="text-center">
        <h5>Welcome To <i class="bi bi-collection-fill"></i> Book Hub</h5>
        <h6>A software to review books on the internet</h6>       
        
            <a style="width:200px;" class="btn btn-outline-primary rounded-1 mt-2 text-center" asp-controller="Books" asp-action="Index">
                My book hub
            </a>       
    </div>
</div>